{% include 'admin_header.html' %}

<img src="/static/images/AdminWallpaper.jpg" width=1500 height=800 alt="Image" >


    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <h2 class="text-black mb-2">About us !!!</h2>
            <h3>Cookie Store</h3>
          </div>
        </div>
        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6"  data-aos="fade-left">
                <a href="#" class="hover-1">
                  <img src="/static/images/ma5.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 ml-auto align-self-center"  data-aos="fade-right">
                <h2 class="text-black">About FlavoGram</h2>
                <p class="mb-4">Welcome to Cookie Delights, where the magic of homemade cookies comes to life! We are created with an insatiable love for baking and a desire to share my delectable creations with the world</p>
              </div>
            </div>
          </div>
        </div>

{% include 'sub_footer.html' %}
{% include 'footer.html' %}