{% include 'staff_header.html' %}
<img src="/static/images/CookWallpaper.jpg" width=1460 height=750 alt="Image" >

    

    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <h2 class="text-black mb-2">Here you go</h2>
            <h3>Cookie Store</h3>
          </div>
        </div>
        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6"  data-aos="fade-left">
                <a href="#" class="hover-1">
                  <img src="/static/images/ma3.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 ml-auto align-self-center"  data-aos="fade-right">
                <!-- <h2 class="text-black">Get ready to pamper yourself &amp; With amazing makeup Brands</h2> -->
                <h2 class="text-black">Our Cookie Journey</h2>
                <p class="mb-4">My love affair with baking began in my grandmother's cozy kitchen, where the aroma of freshly baked cookies wafted through the air. Those warm memories inspired me to hone my skills, experiment with flavors, and create delightful treats that bring joy to everyone who tastes them.</p>
              </div>
            </div>
          </div>
        </div>

{% include 'sub_footer.html' %}
{% include 'footer.html' %}