{% include 'user_header.html' %}
{% include 'sub_header.html' %}
<center>
	<form method="post"><br>
	<h1>Search Products</h1><br>

	<table class=table style="width:1000px">
		
	<tr>
		<th>Sl.No</th>
		<th>Product Name</th>
		<th>Image</th>
		<th>Brand Name</th>
		<th>Quantity</th>	
		<th>price</th>
	</tr>
	{% for row in data['viewsss'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ row['product_name'] }}</td>
			<td><img style="width:70px; height:70px;" src="/{{ row['image'] }}"></td>
		<td>{{ row['brand_name'] }}</td>
		<td>{{ row['quantity'] }}</td>
		<td>{{ row['sprice'] }}</td>
		
	</tr>
	{% endfor %}
	
</table>
</form>
</center>

{% include 'sub_footer.html' %}
{% include 'footer.html' %}