{% include 'user_header.html' %}
<img src="/static/images/UserWallpaper.jpg" width=1500 height=750 alt="Image" >
   

    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <h2 class="text-black mb-2">Here you are !!!</h2>
            <h3>Cookie Store</h3>
          </div>
        </div>
        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6"  data-aos="fade-left">
                <a href="#" class="hover-1">
                  <img src="/static/images/ma3.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 ml-auto align-self-center"  data-aos="fade-right">
                <h2 class="text-black">Join Our Cookie Community</h2>
                <p class="mb-4">I invite you to become a part of our growing cookie community. Explore our website for a treasure trove of mouthwatering recipes, insightful baking tips, and heartwarming stories from my kitchen. Whether you're a fellow home baker or simply a cookie lover, there's something here for everyone.</p>
              </div>
            </div>
          </div>
        </div>
{% include 'sub_footer.html' %}
{% include 'footer.html' %}